<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xu.dao.CommentsMapper">
	<resultMap id="BaseResultMap" type="com.xu.model.Comments">
		<id column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="shopper_id" property="shopperId"
			jdbcType="INTEGER" />
		<result column="goods_id" property="goodsId" jdbcType="INTEGER" />
		<result column="comment_content" property="commentContent"
			jdbcType="VARCHAR" />
		<result column="comment_time" property="commentTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		comment_id, shopper_id, goods_id, comment_level,
		comment_content
	</sql>
	<!-- 获得评论条数 -->
	<select id="getCommentCountById" resultType="Integer"
		parameterType="java.lang.Integer">
		select count(*) from comments where goods_id
		=#{goodsId,jdbcType=INTEGER}
	</select>
	<!-- 发表评论 -->
	<insert id="insertComment" parameterType="com.xu.model.Comments">
		insert into comments
		(shopper_id,goods_id,
		comment_content, comment_time)
		values
		(#{shopperId,jdbcType=INTEGER},#{goodsId,jdbcType=INTEGER},
		#{commentContent,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP})
	</insert>
	<!-- 查看个人所有评论 -->
	<select id="findCommentsByShopperId" resultMap="BaseResultMap">
		select * from comments where
		shopper_id=#{shopperId,jdbcType=INTEGER}
	</select>
		<!-- 查看商品所有评论 -->
	<select id="findCommentById" resultMap="BaseResultMap">
		select * from comments where
		goods_id=#{goodsId,jdbcType=INTEGER}
	</select>
</mapper>